html,
body {
    height: 100%;
}

html {
    
    margin: 0;
}

body {
    display: flex;
    align-content: center;
    background-image: url("images/carbonfiber.jpg");
    background-repeat: repeat;
}

.profilePic {
        
    height: 200px;
    border-radius: 45%;
}

.header {
    
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.userName {
    font-size: 30px;
}


div.myLinks {

    display: flexbox;
}
div.myLinks img{
    width: 75px;
    height: 75px;
    margin-inline-start: 35px;
    padding-inline: 5px;
    padding-top: 5px;
    padding-bottom: 5px;;

}



div.myLinks img:hover{

    opacity: 75%;
    border: solid yellow 1px;
    border-radius: 10%;


}

.break {

    flex-basis: 100%;
    width: 100%;
    height: 0;
}


div.aboutMe {
    width: 100%;
    flex-wrap: wrap;
    color: white;
}

/*
DID IT THE HARD WAY.  REPLACED WITH MORE EFFICIENT
CODE WHICH STYLES ALL THE BUTTONS IN A SINGLE STATEMENT


.linkedinLogo {

    width: 75px;
    height: 75px;
    padding-inline: 20px;
}

.linkedinLogo:hover {

    opacity: 75%;
    border: solid yellow 1px;
    border-radius: 10%;

}

.instagramLogo {

    width: 75px;
    height: 75px;
    padding-inline: 20px;

}

.instagramLogo:hover {

    opacity: 75%;
    border: solid yellow 1px;
    border-radius: 10%;
}

.githubLogo {

    width: 75px;
    height: 75px;
    padding-inline: 20px;

}

.githubLogo:hover {

    opacity: 75%;
    border: solid yellow 1px;
    border-radius: 10%;
}


.onlyfansLogo {

    width: 75px;
    height: 75px;
    padding-inline: 20px;

}

.onlyfansLogo:hover {

    opacity: 75%;
    border-top: solid yellow 1px;
    border-bottom: solid yellow 1px;
    border-radius: 5%;
}
*/